.navbar-brand {
  font-size: 50px;
}

.container {
  max-width: 1800px;
}

.form-control {
  margin-right: 0 !important;
}

.fa-search {
  color: white;
}

.list-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-group-item:hover {
  background: rgb(242, 242, 242);
}

.card {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(54, 143, 252);
  color:white;
}

.uv-index-severe {
  background-color: rgb(210, 49, 49);
  color: white;
  padding: 7px;
  border-radius: 3px;
}
.uv-index-moderate {
  background-color: rgb(236,110,76);
  color: white;
  padding: 7px;
  border-radius: 3px;
}
.uv-index-favorable {
  background-color: rgb(87, 210, 49);
  color: white;
  padding: 7px;
  border-radius: 3px;
}

#search-button {
  background-color: rgb(54, 143, 252);
}

#city-search {
  background-color: rgb(244, 240, 240);
  padding-left: 20px;
  padding-right: 20px;
}

#city-forecast {
  margin-top: 20px;
  border-top: solid 2px rgb(244, 240, 240);
  border-bottom: solid 2px rgb(244, 240, 240);
  border-left: solid 2px rgb(244, 240, 240);
  border-radius: 3px;
}

#weather-dashboard {
  padding-left: 25px;
}

#five-day-forecast {
    margin-top: 20px;
    padding-left: 0px;
}