.navbar-brand {
  font-size: 50px;
}

/* .container {
    /* margin: 10px; */
} */

.form-control {
  margin-right: 0 !important;
}

.fa-search {
  color: white;
}

.list-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(54, 143, 252);
  color:white;
}

.uv-index {
  background-color: rgb(210, 49, 49);
  color: white;
  padding: 7px;
  border-radius: 3px;
}

#search-button {
  background-color: rgb(54, 143, 252);
}

#city-search {
  background-color: rgb(244, 240, 240);
  padding-left: 30px;
  padding-right: 15px;
}

#city-forecast {
  margin-top: 20px;
  margin-left: 20px;
  border: solid 2px rgb(244, 240, 240);
}

#five-day-forecast {
    margin-top: 20px;
    display: none;
}
